
<%= search_form_for q, url: training_sessions_path, method: :get, html: { class: "w-full" } do |f| %>
  <div class="flex flex-col md:flex-row gap-4 items-center justify-between w-full">
    <label class="input input-bordered flex items-center gap-2 flex-1">
      <i class="fas fa-search"></i>
      <%= f.search_field :name_cont,
            placeholder: t("training_sessions.search.placeholder"),
            class: "bg-transparent outline-none w-full" %>
    </label>

    <div class="flex items-center gap-2 flex-1">
      <%= f.select :muscle_groups_name_eq,
            options_from_collection_for_select(MuscleGroup.order(:name), :name, :name, params.dig(:q, :muscle_groups_name_eq)),
            { include_blank: t("training_sessions.search.all_muscle_groups") },
            { class: "select select-bordered w-full" } %>
    </div>

    <%= f.submit t("training_sessions.search.submit_button"), class: "btn btn-accent whitespace-nowrap" %>
  </div>
<% end %>

