<div class="container mx-auto px-4 py-8">
  <div class="mb-6 px-4">
    <h1 class="text-2xl font-semibold">
        <%= t("training_sessions.new.title") %>
    </h1>
  </div>

  <%= render partial:'training_session_forms/progress_bar', locals:{current_step: @form.current_step} %>

  <%= render "shared/flash_error" %>

  <%= render "training_session_forms/steps/#{@form.current_step}",
             form: @form,
             training_session: @form.training_session,
             exercises: @exercises %>
</div>

